
<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <link href="https://fonts.googleapis.com/css?family=Droid+Serif|Source+Sans+Pro" rel="stylesheet">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% if title %}
    <title>  Vid Sustar RFID tracker - {{title}}</title>
    {% else %}  
    <title>  Vid Sustar RFID tracker </title>
    {% endif %} 
    <title>Layout (expinc)</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/table_styles.css') }}">--> <!--styles for data tables-->

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto">
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <!-- https://github.com/michalsnik/aos -->
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename = 'css/main.css')}}" type="text/css">
    
        {% if title %}
        <title>  Vid Sustar RFID tracker - {{title}}</title>
        {% else %}  
        <title>  Vid Sustar RFID tracker </title>
        {% endif %} 
    
    </head>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ url_for('index') }}">Vid Sustar RFID tracker</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-white" href="{{ url_for('overview') }}">Overview Charts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{{ url_for('pdtable') }}">Table</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{{ url_for('daterange') }}">Date Range Selector</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xm-12">
                    <div class="ml-auto mr-auto">
                        {% with messages = get_flashed_messages(with_categories = True) %}
                            {% if messages %}  
                                {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">
                                    {{ message }}
                                </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                      {% block content %}
                      {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        offset: 400,
        duration: 1000
      });
     
    </script>


</body>
</html>